{% extends '::layout.html.twig' %}

{% block title %}ERROR - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>Not found</h2>
            <p>
                Sorry
            </p>
        </div>
    </div>
{% endblock %}