/assets                     export-ignore
/config/docker              export-ignore
/config/packages/dev        export-ignore
/config/packages/test       export-ignore
/config/routes              export-ignore
/config/services_test.yaml  export-ignore
/deploy.php                 export-ignore
/docker-compose.yaml        export-ignore
/.git*                      export-ignore
/Makefile                   export-ignore
/package*                   export-ignore
/.php_cs                    export-ignore
/phpstan*                   export-ignore
/phpunit.xml.dist           export-ignore
/README.md                  export-ignore
/tests                      export-ignore
/webpack.config.js          export-ignore
