body > .container {
    padding-top: 0;
}

/* see https://bugzilla.mozilla.org/show_bug.cgi?id=1503427#c14 */
input[type="date"].form-control, input[type="time"].form-control, input[type="month"].form-control {
    line-height: initial;
}

/* see https://github.com/twbs/bootstrap/issues/9939#issuecomment-37682952 */
.btn-group {
    display: flex;
}

/* hamburger */

.navbar-toggle {
    border-width: 0;
    margin-top: 9px;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

/* media query */

@media screen and (max-width: 767px) {
    h2 {
        margin-top: 0;
    }
}
