{% extends 'layout.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>Homepage</h2>
            <p>
                It could work!
            </p>
        </div>
    </div>
{% endblock %}
