@import '~bootstrap/scss/bootstrap';
@import 'navbar';

body > .container {
    padding-top: 0;
    padding-bottom: 10px;
}

// see https://bugzilla.mozilla.org/show_bug.cgi?id=1503427#c14
input[type="date"].form-control, input[type="time"].form-control, input[type="month"].form-control {
    line-height: initial;
}

// media query

@media screen and (max-width: 767px) {
    h2 {
        margin-top: 0;
    }
}

@media print {
    body {
        margin-top: 0;
        margin-bottom: 0;
    }

    a[href]:after {
        content: none;
    }
}

