@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~bootstrap/scss/bootstrap";
@import "animated_menu";

main > .container {
    margin-top: 20px;
    padding-bottom: 10px;
}

footer {
    background-color: $gray-100;
}

// media queries

@include media-breakpoint-down(sm) {
    h2 {
        margin-top: 0;
    }
}

@media print {
    body {
        margin-top: 0;
        margin-bottom: 0;
    }

    a[href]:after {
        content: none;
    }
}

