// hamburger

.navbar-toggle {
    border-width: 0;
    margin-top: 9px;

    .icon-bar:nth-of-type(2) {
        top: 1px;
    }

    .icon-bar:nth-of-type(3) {
        top: 2px;
    }

    .icon-bar {
        position: relative;
        transition: all 500ms ease-in-out;
    }

    &.active {
        .icon-bar:nth-of-type(1) {
            top: 6px;
            transform: rotate(45deg);
        }

        .icon-bar:nth-of-type(2) {
            background-color: transparent;
        }

        .icon-bar:nth-of-type(3) {
            top: -6px;
            transform: rotate(-45deg);
        }
    }
}

// media query

@media screen and (min-width: 768px) {
    a.auth-user {
        padding-bottom: 10px !important;
        padding-top: 10px !important;
    }

    .navbar-inverse .navbar-brand {
        margin-right: 10px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-inverse .navbar-brand {
        margin-left: 10px;
    }

    .container .navbar ul li {
        margin-left: 10px;
    }

    .navbar-always-visible {
        margin-top: -45px;
        margin-right: 60px;
        float: right;

        & > li {
            float: left;

            a {
                padding-left: 5px;
                padding-right: 5px;
            }

            a.auth-user {
                padding-right: 0;
                padding-bottom: 0 !important;
                padding-top: 6px !important;
            }
        }

        & > li.open {
            float: none;

            a.auth-user {
                width: 53px;
                height: 44px;
                margin-left: 190px;
            }
        }
    }
}
