{% for messageType, flashMessages in app.flashes(['success', 'info', 'warning', 'danger'])|filter(v => v is not empty) %}
    <div class="alert alert-{{ messageType }} alert-dismissible fade show">
        {{ flashMessages|first }}
        <button class="btn-close" data-bs-dismiss="alert" type="button"></button>
    </div>
{% endfor %}
